<ion-grid>
    <ion-row *ngFor="let publicacion of Publicaciones">
        <ion-col>
            <ion-card>
                <ion-card-header>
                    {{publicacion.usuario}}
                </ion-card-header>
                <ion-card-content>
                    <img [src]="publicacion.src" alt="" width = 100% [routerLink]="['/postFeed', publicacion.id]">
                    <p>{{publicacion.caption}}</p>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>