<ion-card>
    <ion-card-header>
        <ion-grid>
            <ion-row>
                <ion-col offset="11">
                    <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-header>
    <ion-card-content>
        <img [src]="postDetalle.imagen" alt="" width="200px">
    </ion-card-content>
    <div>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-icon name="heart-outline"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-icon name="chatbubble-outline"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-icon name="paper-plane-outline"></ion-icon>
                </ion-col>
                <ion-col offset="8">
                    <ion-icon name="bookmark-outline"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-card>