<ion-grid>
    <ion-row class="historias-container">
        <ion-col size="2" *ngFor="let historia of historias">
            <ion-avatar>
                <ion-img src="https://www.gub.uy/fiscalia-general-nacion/sites/fiscalia-general-nacion/files/catalogo/Sin-Perfil-Hombre.png" alt="" width="50px" id="foto-usuario--{{historia}}"></ion-img>
                <ion-modal trigger="foto-usuario--{{historia}}">
                    <ng-template>
                        <app-historia-contenido></app-historia-contenido>
                    </ng-template>
                </ion-modal>
            </ion-avatar>
        </ion-col>
    </ion-row>
</ion-grid>